.about{
    display: flex;
    height: 750px;
    width: 100vw;
    @include tablets{
        flex-flow: column nowrap;
        height: 1495px;
    }
    @include phones{
        height: auto;
    }

    &__col{
        display: flex;
        width: 50%;
        position: relative;
        @include tablets{
            width:100%;
        }
    }
}

.about_bg_left_pic{
    width: 100%;
    height: 100%;
    fill: $white;
}

.about_bg_right_pic{
    width: 100%;
    height: 100%;
    fill: $beige;
    
}
.about__title{
    display: flex;
    justify-content: center;
    color: $grey;
    z-index: 10;
    position: absolute;
    top: -150px;
    width: 100%;
    @include tablets{
        top: -88px;
        background: $white;
    }
};

.about__title_text{
    @include bernier();
    font-size: 63px;
    fill: $grey;
    z-index: 12;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    @include laptop{
        font-size: 50px
    }
    @include phones{
        font-size: 34px
    }
};

@include title-dash(".about__title_text");

.about_header_pic{
    width: 380px;
    opacity: 0.1;
    z-index: 10;
};

.user-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    height: 750px;
    background: $white;
    @include tablets{
        margin-top: 60px;
    }
};
.user-desc__pic{
    display: flex; 
    justify-content: center;
    width: 445px;
    height: 410px;
    padding-top: 20px;    
    margin-bottom: 25px;
    @include phones{
        width: 312px;
    }
};
.user-desc__pic-elem{
    display: flex;
    height: 100%;
}
.user-desc__title{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 35px;
    @include bernier();
    color: $grey;
    margin-bottom: 25px;
}  
.user-desc__title-text{
    position: relative;
    @include laptop{
        font-size: 35px;
    }    
    @include phones{
        font-size: 21px;
    }
}
@include title-dash(".user-desc__title-text");

.user-desc__content{
    display: flex;
    justify-content: center;
};
.user-desc__content-text{
    width: 70%;
    text-indent: 30px;    
    @include phones{
        width: 95%;
    }
};

//right side

.about__right-title{
    display: flex;
    justify-content: center;
    color: $grey;
    z-index: 10;
    position: absolute;
    top: -75px;
    width: 100%;
    @include tablets{
        height: 50px;
    }
};

.about__right-title_text{
    @include bernier();
    font-size: 34px;
    fill: $grey;
    z-index: 12;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
    @include phones{
        font-size: 21px;
        text-align: center;
    }
};

@include title-dash(".about__right-title_text");

.about__col_bg_beige{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    background: $beige;
    @include tablets{
        margin-top: 105px;
        height: 795px;
    }
    @include phones{
        height: auto;
    }
}

.hero__square{
    position: absolute;
    top: -105px;
    left: 0px;
    height: 107px;
    width: 100%;
    background: $beige; 
    z-index: 4;
}
.triangle-border-beige{
    position: absolute;
    top: -105px;
    left: 0px;
    border-left: calc(100vw/2) solid transparent; 
    border-bottom: 107px solid $beige;
    z-index: 4; 
    @include tablets{
        display: none;
        
    }
}
.about__small-decs{
    padding-top: 10px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    text-indent: 30px;
    @include tablets{
        width: 70%;
        margin: 0px auto;
        margin-bottom: 40px;
    }
    @include phones{
        width: 95%;
        margin-bottom: auto;
    }
};
