.about{
    display: flex;
    height: 750px;
    width: 100vw;
}
.about__col{
    display: flex;
    width: 50%;
    position: relative;
};
.about__triangle{
    position: absolute;
    top: -220px;
    width: 100%;
    height: 220px;
    z-index: 3;    
}
.about_bg_left_pic{
    width: 100%;
    height: 100%;
    fill: $white;
}

.about_bg_right_pic{
    width: 100%;
    height: 100%;
    fill: $beige;
    
}
.about__title{
    display: flex;
    justify-content: center;
    color: $grey;
    z-index: 10;
    position: absolute;
    top: -150px;
    width: 100%;
};

.about__title_text{
    @include bernier();
    font-size: 63px;
    fill: $grey;
    z-index: 12;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
};

@include title-dash(".about__title_text");

.about_header_pic{
    width: 380px;
    opacity: 0.1;
    z-index: 10;
};

.user-desc{
    height: 750px;
    background: $white;
};
.user-desc__pic{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 410px;
    padding-top: 20px;    
    margin-bottom: 25px;
};
.user-desc__pic-elem{
    display: flex;
}
.user-desc__title{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 35px;
    @include bernier();
    color: $grey;
    margin-bottom: 25px;
}  
.user-desc__title-text{
    position: relative;
}
@include title-dash(".user-desc__title-text");

.user-desc__content{
    display: flex;
    justify-content: center;
};
.user-desc__content-text{
    width: 70%;
};

//right side
.about__right-title{
    display: flex;
    justify-content: center;
    color: $grey;
    z-index: 10;
    position: absolute;
    top: -75px;
    width: 100%;
};

.about__right-title_text{
    @include bernier();
    font-size: 34px;
    fill: $grey;
    z-index: 12;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
};

@include title-dash(".about__right-title_text");

.about__col_bg_beige{
    display: flex;
    flex-flow: column nowrap;
    background: $beige;
}
.about__small-decs{
    padding-top: 10px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
};
.about__container{
    margin: 0px 40px;
}
.skills__item{
    height: 195px;
};
.skills-row__title{
    @include  roboto("medium") ;
    font-size: 28px;
};
.skills-row__list{
    display: flex;
    flex-flow: row nowrap;
};
.skills-row__item{
    display: flex;
    height: 110px;
    width: 110px;
    margin-right: 35px;
    background: $green;
};