.contacts {
  height: 830px;
  position: relative;
}
.google-map {
  width: 100%;
  height: 100%;
}
.contacts__container {
  width: 380px;
  height: 290px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background: #fff;
  opacity: 0.8;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.user-data {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.user-data-title {
  @include bernier();
  font-size: 35px;
  fill: $grey;
  position: relative;
}
@include title-dash(".user-data-title");

.user-data__container {
  margin: 0px 50px;
  height: 190px;
}
.user-contacts-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  height: 100%;
}
.user-contacts-list__item {
  display: flex;
}
.contacts-cell {
  display: flex;
  flex-flow: row nowrap;
  @include roboto("medium");
  text-decoration: none;
  color: $text-color;
}
.contacts-cell__icon {
  width: 25px;
  height: 25px;
  fill: $green;
  margin-right: 10px;
}
