.hero-triangle__container{
    height: 10px;
    position: relative;
}
.wrapper-inner-row{
    display: flex;
    flex-flow: row  nowrap;
    width: 100%;
    position: absolute;
    bottom: -50px;
    left: 0px;
}
.hero__triangle{
    display: flex;
    flex: 1;
    width: 100%;
    height: 300px;
    z-index: 3;    
}
.hero_bg_left_pic,.hero_bg_right_pic{
    width: 100%;
    height: 100%;
    fill: $white;
}