.portfolio_header_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 785px;
    display: flex;
    justify-content: center;
    align-items: flex-start;   
}
.portfolio_header-svg{
    fill: $white;
    opacity: 0.1;
    width: 95%;
    height: 70%;
}
.works{
    display: flex;
    height: 790px;
    margin-top: 40px;
    position: relative;
    @include tablets{
        height: 1014px;        
    }
    @include phones{
        height: 920px;
    }
    
}
.hero-works__square{
    position: absolute;
    top: -49px;
    left: 0px;
    height: 50px;
    width: 100%;
    background: $white;
}

