.skills-list{
    margin: 0px 40px;
}
// .skills-row{
    
// }
.skills-list__title{
    @include  roboto("medium") ;
    font-size: 28px;
};
.skills{
    display: flex;
    flex-flow: row nowrap;
};
.skills-list__item{
    display: flex;
    width: 110px;
    margin-right: 35px;
};
.skill{
    position: relative;
    width: 100%;
    height: 100%;
}
// .skill__figure{
// }
.skill__circle{
    fill: transparent;    
    stroke-width: 20px;
}
.skill__circle_under{
    stroke: $grey;
    opacity: 0.1;  
    
}
.skill__circle_above{
    stroke: $green;
    stroke-dasharray: 251;
    // stroke-dashoffset: 20%;
    transition: 4s;
    -webkit-transition: 4s;
    -moz-transition: 4s;
    -ms-transition: 4s;
    -o-transition: 4s;
}
.skill__title{
    width: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;    
    @include  roboto("medium") ;
    font-size: 13px;
}