$white: #efeee9;
$beige: #eeebdf;
$green: #16c2aa;
$green-hover: #009688;
$text-color: #455a64;
$grey: #373e42;
$light-grey: #dfdcd5;
$border-horizontal: rgba(255, 255, 255, .5); 
$tablet-screen: 750px;
$mobile-screen: 480px;

@import 'normalize.css';
@import './layout/fonts.scss';
@import './layout/mixin_media.scss';
@import './layout/base.scss';
@import './layout/title-dash.scss';

@import './icons/_sass-inline-svg.scss';
@import './icons/_sass-inline-svg-data.scss';

@import './blocks/index.scss';
@import './blocks/menu.scss';
@import './blocks/my-work.scss';
@import './blocks/hero.scss';
@import './blocks/about.scss';
@import './blocks/contacts.scss';
@import './blocks/footer.scss';
@import './blocks/hero-title.scss';
@import './blocks/slider.scss';
@import './blocks/feed.scss';
@import './blocks/feed-form.scss';
@import './blocks/blog.scss';
@import './blocks/skills.scss';
@import './blocks/login-cart.scss';
// @import './blocks/blog-mobile.scss';