.hero-triangle__container
    .wrapper-inner-row
        .hero__triangle
            svg(class="hero_bg_left_pic")
                use(xlink:href="/images/about/about_bg_left.svg#about_bg_left")

        .hero__triangle
            svg(class="hero_bg_right_pic")
                use(xlink:href="/images/about/about_bg_right.svg#about_bg_right")
