.slider.js-slider
    .slider__item.slider__desc.js-desc
        .works__desc_item.works__title 
            .works__title_text 
                p Online Education School website
        .works__desc_item.works__technologies
            .works__desc_bottom_line HTML , CSS, JAVASCRIPT
        .works__desc_item.works__btn
            a(href="#").works__btn_link
                .works__btn_pic
                    +icon("link", "works__btn_svg")
                .works__btn_text View site
    .slider__item.slider__wrapper
        .slider__showing
            image.slider__showing-pic.js-main-slide
        .slider__smalls
            button.slider__up.js-scroll-up
                +icon("portf_arrow_up", "slider__svg")
            button.slider__down.js-scroll-down
                +icon("portf_arrow_down", "slider__svg")
        
