.container
    ul#slides
        li.slide.showing
            +image("slider/work-1", "work-1", "slide__work-1")
        li.slide
            +image("slider/work-2", "work-2", "slide__work-2")
        li.slide
            +image("slider/work-2", "work-2", "slide__work-2")
    .buttons
        button.controls#previous &lt;
        button.controls#next &gt;
