extends ../main.layout.pug

block variables
  - var title = 'About'
  

block content
  section.hero
    .wrapper-inner.wrapper-inner-relative
      .hero__lists
        +iconLink( vkLink, "vk", "hero__vk")
        +iconLink( githubLink,"github", "hero__github")
        +iconLink( inLink, "in", "hero__in")   
      .hero__menu
        .hamburger
          +icon("hamburger", "hamburger_menu")
      .hero__container
        //.section-title
        .user
          .user__avatar 
          +image("content/user.jpg", "user", "user__avatar_pic")
          .user__info
            .user__name #{name}
            .user__desc The personal site of the web developer
      .hero__btn
        .arrow__down
          +icon("arrow_down", "arrow__down_pic")
  section.about
    .about__col.about__col_bg_white
      .about__triangle
        +icon("about_bg_left", "about_bg_left_pic")       

      .about__title
        +icon("about_header", "about_header_pic")
        h1.about__title_text About me
          
      .user-desc
        .user-desc__pic
          img(src="", alt="").user-desc__pic-elem
        
    .about__col.about__col_bg_beige
      .about__triangle
        +icon("about_bg_right", "about_bg_right_pic")
        //- svg.svg-triangle.svg-triangle_fill_beige
        //-   polygom()

      .about__right-title
        .subtitle that I can be of use to you
      .about__small-decs
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error libero blanditiis, voluptates ea est, aliquam quos quae iste inventore dolores odit consectetur dolorem laborum repellat sed quas rem! Laudantium, ex.
      .about__container
        ul.skills
          -
            var skills = [
              { 
                title:'Frontend',
                items: ["HTML5", "CSS3", "JavaScript"]
              },
              {
                title:'Backend',
                items: ["PHP", "mySQL","Node.js & npm", "Mongo.db"]
              },
              { 
                title:'WorkFlow',
                items: ["Git", "Gulp", "webpack"]
              }
            ] 
          each item in skills
            li.skills__item
              .skills-row
                .skills-row__title #{item.title}
                ul.skills-row__list
                  each skill in item.items           
                    li.skills-row__item
                      svg.skill #{skill}
                      
  section.contacts
    .contacts__underlay
      .google-map
    .contacts__container
      .user-data    
        .user-data-title
          .subtitle
        .user-data__container
          ul.user-contacts-list
            each item in ["skype", "mail", "phone"]
              li.user-contacts-list__item
                .contacts-cell  
                  .contacts-cell__icon
                  .contacts-cell__title #{item}
  include ../common/footer.pug
              
                       
            
           
        


block scripts
  script(src='/scripts/main.bundle.js')