extends ../main.layout.pug

block variables
  - var title = 'About'
  - var name = "Daulet Atambayev"
  - var footer = "© Daulet Atambayev | created with love in LoftSchool | 2018"
  - var vkLink = "https://vk.com/atamandaulet "
  - var githubLink = "https://github.com/AtamanDaulet"
  - var inLink = "https://www.linkedin.com/in/daulet-atambaev-04a38a131"
  - var myWorks = "./my-works.html"
  - var aboutMe = "./about.html"
  - var blog = "./blog.html"

block content
  section.hero
    .hero__lists

      //- include ../common/socials.pug      

    .hero__menu.hamburger
      


    .hero__container
      .section-title
      .user
        .user__avatar +image("content/user.jpg", "user", "welcome__avatar")
        .user__info
          .user__name #{name}
          .user__desc The personal site of the web developer

    .hero__btn
      .arrow__down

  section.about
    .about__col.about__col_bg_white
      .about__triangle
        svg.svg-triangle.svg-triangle_fill_white
          //- polygom()

      .about__title
        h2.title About me
      .user-desc
        .user-desc__pic
          img(src="", alt="").user-desc__pic-elem
        
    .about__col.about__col_bg_beige
      .about__triangle
        svg.svg-triangle.svg-triangle_fill_beige
          polygom()

      .about__right-title
        .subtitle that I can be of use to you
      .about__small-decs
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error libero blanditiis, voluptates ea est, aliquam quos quae iste inventore dolores odit consectetur dolorem laborum repellat sed quas rem! Laudantium, ex.
      .about__container
        ul.skills
          -
            var skills = [
              { 
                title:'Frontend',
                items: ["HTML5", "CSS3", "JavaScript"]
              },
              {
                title:'Backend',
                items: ["PHP", "mySQL","Node.js & npm", "Mongo.db"]
              },
              { 
                title:'WorkFlow',
                items: ["Git", "Gulp", "webpack"]
              }
            ] 
          each item in skills
            li.skills__item
              .skills-row
                .skills-row__title #{item.title}
                ul.skills-row__list
                  each skill in item.items           
                    li.skills-row__item
                      svg.skill #{skill}
                      
  section.contacts
    .contacts__underlay
      .google-map
    .contacts__container
      .user-data    
        .user-data-title
          .subtitle
        .user-data__container
          ul.user-contacts-list
            each item in ["skype", "mail", "phone"]
              li.user-contacts-list__item
                .contacts-cell  
                  .contacts-cell__icon
                  .contacts-cell__title #{item}

              
                       
            
           
        


block scripts
  script(src='/scripts/main.bundle.js')