extends ../auth.layout.pug

block variables
  - var title = "welcome" 

block content
  section.section.section__welcome(style="background: url(../../images/bg/hero.jpg) no-repeat")
    .welcome
      header.welcome__header  
        button.btn_auth Log in
      .welcome__content 
        +image("content/user.jpg", "user", "welcome__avatar")
        h2.welcome__name #{name}
        .welcome__title The personal site of the web developer
        .welcome__social          
          +iconLink( vkLink, "vk", "welcome__vk")
          +iconLink( githubLink,"github", "welcome__github")
          +iconLink( inLink, "in", "welcome__in")
        .welcome__footer
          a.welcome__link.btn-work(href= myWorks) My works
          a.welcome__link.btn-about(href= aboutMe) About me
          a.welcome__link.btn-blog(href= blog) Blog

      footer.footer-containe #{footer}
    