extends ../main.layout.pug

block variables
  - var title = 'my works'
block scripts
  script(src='./scripts/works.bundle.js') 
  
block content
  .portfolio_header_overlay
    +icon("portfolio_header", "portfolio_header-svg")
  include ../common/hero.pug
    
  include ../common/hero-triangle.pug
  .hero__title
    .hero__title-bg
      +icon("works_header", "works_header-svg")
      .hero__title_text  
        p My works
  section.section.works
      include ../common/slider.pug
  section.section.feed.js-blur
    .feed__title
      +icon("about_header", "feed__title_svg")
      .hero__title_text  
        p What they say about me
    .feed__content
      .feed__content_list
        .feed__content_item
          .feed__item_quotes “
          .feed__item_text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          .feed__item_author
            .feed__author_icon
              +image("content/feed/kovalchuk.jpg", "author_icon", "feed__author_icon-pic")
            .feed__author_title 
              .feed__author_name Ковальчук Дмитрий
              p основатель Loftschool
        .feed__content_item
          .feed__item_quotes “
          .feed__item_text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
          .feed__item_author
            .feed__author_icon
              +image("content/feed/cabantsev.jpg", "author_icon", "feed__author_icon-pic")
            .feed__author_title 
              .feed__author_name Сабанцев Владимир
              p преподаватель Loftschool
    .feed__form      
      form(method="post").feed__form_wrapper.js-feedback  
          .feed__form_bg
          .form__title 
            .form__title_text  Contact me
          .form__author
            .label
              input(type="text" name="form__author_name" placeholder="Name").form__author_name
          .form__mail
            .label
              input(type="email" name="form__author_email" placeholder="Email").form__author_email
          .form__message
            .label
              textarea(name="form__author_msg", cols="30", rows="10"  placeholder="Message").form__author_msg
          .form__btn.btn
            .form__send
              button(type="submit").form__btn_custom send
            .form__clean
              button(type="reset").form__btn_custom clean
    button.work__arrow_up
      .arrow_up__relative
        +icon("arrow_down", "arrow_up__svg")

